#videoModal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 450px;
    margin: -225px 0 0 -400px;    
    background-color: #1f1e1e;
    z-index: 1500;
    display: none;    
}

#videoModal a.modal-close-btn {
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    position: absolute;
    top: -25px;
    right: -20px;
}
