
<!DOCTYPE HTML>
<html>
    
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shopunion</title>
        <link type="text/css" rel="stylesheet" href="../Content/css/FrontPages/reset.css" />
        <link type="text/css" rel="stylesheet" href="../Content/css/FrontPages/css3.css" />
        <link href="../Content/css/FrontPages/stylef4e8.css?v=5cray4ggQJf3THPfwDre4BjfG6DfHYrYnS9OP5SWte81" rel="stylesheet">

        <link href="../Content/css/FrontPages/responsivee7ad.css?v=MaBa4j9lVgqY7OTzJy-MiJxgwPAXAYA_iUvaKa-HR-81" rel="stylesheet">

        <link type="text/css" rel="stylesheet" href="../Content/css/FrontPages/jquery.bxslider.css" />
        <link href="../Content/css/FrontPages/fonts/fonts6728.css?v=ut7OezvAemdiG0ZI0TgitFk5TDrVGGRuzeJNqtw74Kc1" rel="stylesheet">

        <link type="text/css" rel="stylesheet" href="../Content/css/FrontPages/video-modal.css" />
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,900,800|Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="../Scripts/jquery-1.11.0.js"></script>
        <script type="text/javascript" src="../Scripts/FrontPages/html5.js"></script>
        <script type="text/javascript" src="../Scripts/FrontPages/browser.js"></script>
        <script type="text/javascript" src="../Scripts/FrontPages/jquery.bxSlider.min.js"></script>
        <script type="text/javascript" src="../Scripts/FrontPages/common.js"></script>
        
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Shopunion" />
        <meta property="og:description" content="Shopunion connects businesses and organizations to the people in their community who care about them." />
        <meta property="og:image" content="http://Shopunion.com/Content/images/FrontPages/logo.png" />

        
<script type="text/javascript">
    var shopUnion = shopUnion || {};
    shopUnion.NotificationImagesMinWidth = '640';
    shopUnion.currency = 'usd';
    shopUnion.stripePublishableKey = 'pk_fH8BgVIltG36uwm2GxTZJGgFWnrr5';
    shopUnion.isMobile = 'False' === 'True';

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '']);
    _gaq.push(['_trackPageview']);
    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '../../www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-45086704-1', 'shopunion.com');
    ga('send', 'pageview');
</script>
<script src="../Scripts/placeholder.js"></script>

    </head>
    <body>
        <header id="header">
            <div class="wrapper">
                <span id="mobileMenu">MobileMenu</span>
                <a href="../index.html" class="logo"><img src="../Content/images/FrontPages/logo.png" alt=""/></a>
                <nav>
                    <ul class="menu">
                        <li ><a href="Business.html">Business</a></li>
                        <li ><a href="Community.html">community</a></li>
                        <li ><a href="App.html">the app</a></li>
                        <li ><a href="Pricing.html">Pricing</a></li>
                        <li ><a href="Testimonials.html">testimonials</a></li>
                        <li ><a href="OurStory.html">our story</a></li>
                    </ul>
                </nav>
                <ul class="login">
                    <li><a href="../Account/SignIn.html">Login</a></li>
                    <li><a href="../signup.html">register</a></li>
                </ul>
            </div>
        </header>
        
        
<section id="page">
    <div class="wrapper">
        <div class="pageInner">
            <h2>
                TERMS OF SERVICE and MEMBER AGREEMENT</h2>
            <p>
                The following terms and conditions govern all use of the Shopunion websites and
                all content, services and products available at or through the platform (hereinafter
                the "Service"). The Service is owned and operated by Shopunion, LLC and offered
                subject to your acceptance without modification of all of the terms and conditions
                contained herein and all other operating rules, policies, and procedures that may
                be published from time to time.</p>
            <p>
                Please read this Agreement carefully before accessing or using the Service. By accessing
                or using any part of the Service, and/or by checking a box indicating your acceptance,
                you agree to become bound by the terms and conditions of this agreement. If you
                do not agree to all the terms and conditions of this agreement, then you may not
                access the Service. If these terms and conditions are considered an offer by Shopunion,
                LLC, acceptance is expressly limited to these terms.</p>
            <ul class="list3">
                <li>
                    <h4>
                        <span>1.</span>Use of Service/Your Account</h4>
                    <p>
                        By your use of the Service, you agree to be bound to Shopunion and to comply with
                        these terms and all applicable local, state, federal, and international laws and
                        regulations. When you sign up, you agree to use your real name and identifying information.
                        Accounts found to be in non-compliance are subject to termination without notice
                        at any time.</p>
                    <p>
                        Any time without prior notice, Shopunion may refuse to continue providing the Service
                        or change the service as we see fit.</p>
                </li>
                <li>
                    <h4>
                        <span>2.</span>Licenses</h4>
                    <p>
                        When you post or display Content on your account, you grant Shopunion a worldwide,
                        non-exclusive, royalty-free license in your Content. We reserve the right to use,
                        copy, reproduce process, adapt, modify, publish, transmit, display, and distribute
                        such Content in any method we choose. You agree that this license also includes
                        the right for Shopunion to make your content available to others for modification,
                        publication, broadcast, promotion, or distribution on other media or services. You
                        grant this license with no hope or right to compensation for the Content you post,
                        submit, or make available to the Service. You also agree that any Content submitted
                        or posted by you may be modified or adapted by Shopunion to comply with our policies
                        or to conform with limitations or requirements dictated by our website, apps, services,
                        or networks.</p>
                    <p>
                        Without limiting any of those representations, Shopunion has the right (though not
                        the obligation) to, in its sole discretion (i) refuse or remove any content that,
                        in its reasonable opinion, violates any Shopunion policy or is in any way harmful
                        or objectionable, or (ii) terminate or deny access to and use of the Service to
                        any individual or entity for any reason, in its sole discretion. Shopunion will
                        have no obligation to provide a refund of any amounts previously paid.</p>
                </li>
                <li>
                    <h4>
                        <span>3.</span> Responsibility of Contributors</h4>
                    <p>
                        When you post Content to your account or allow any third party to post Content,
                        you are entirely responsible for the content of, and any harm resulting from, that
                        Content, whether publicly posted or privately transmitted. That is the case regardless
                        of whether the Content in question constitutes text, graphics, audio, or any other
                        type of Content. When you post something, you represent that you have the authority
                        necessary to grant us the right to use the Content.</p>
                    <p>
                        Shopunion does not monitor or control content posted via the Service, so any reliance
                        by you on any Content posted on the service is at your own risk. We do not guarantee,
                        support, or represent the truthfulness, veracity, or accuracy of any Content posted
                        on the Service.</p>
                    <p>
                        We reserve the right to read, access, and disclose any information which we believe
                        is necessary to satisfy applicable laws, legal process, detect or prevent fraud,
                        prevent security or technical complications, or protect the right and safety of
                        Shopunion's users.</p>
                </li>
                <li>
                    <h4>
                        <span>4.</span> Acceptable Use</h4>
                    <p>
                        The internet is a free, open forum, and a lot goes on there, good and bad. When
                        you post on Shopunion, you agree to limit your Content to the вЂњgoodвЂ? side of
                        things.</p>
                    <p>
                        There are many things we donвЂ™t tolerate, and here they are: spamming, pornography
                        or adult-oriented content, abusive language in the form of extensive cursing or
                        vulgar language, harassment, threats, racial slurs, defamatory statements, viruses,
                        malware, inciting the violation of our terms, and anything else a rational person
                        would view as objectionable or unconscionable. We reserve the right to modify or
                        delete any such Content posted to the Service and permanently delete the account
                        of the offender.</p>
                    <p>
                        Additionally, you agree to abide by the spirit of any documents you may have received
                        outlining the best practices for your use of your Shopunion account.</p>
                </li>
                <li>
                    <h4>
                        <span>5.</span> Trademarks and copyrights</h4>
                    <p>
                        The Service is protected by the copyright and trademark laws of the United States.
                        All right, title, and interest of the Service, although offered to you for use remains
                        the exclusive property of Shopunion. Under no circumstance shall you use the Shopunion
                        logo, domain names, word marks, or any other proprietary features except for the
                        uses listed below:</p>
                    <p class="small">
                        Site Displays: Shopunion will provide your organization or business with stickers
                        and/or site displays to inform your clients about your account on Shopunion. Please
                        do not create your own displays without prior written consent.</p>
                    <p class="small">
                        Internet Displays: Shopunion will send you approved logo formats and download buttons
                        to use on your website. Please do not create your own website assets without prior
                        written consent.Printed Media: You are expressly authorized to use the Shopunion
                        logo, app icon, or other media we provide on your business cards or in print advertising.</p>
                    <p class="small">
                        5. Privacy</p>
                    <p class="small last">
                        Shopunion values your privacy and we guard your information as closely as we do
                        our own. To learn about how we use the information you submit to the Service, please
                        review our Privacy Policy.</p>
                </li>
                <li>
                    <h4>
                        <span>6.</span> Changes</h4>
                    <p>
                        Shopunion reserves the right, at its sole discretion, to modify or replace any part
                        of this Agreement. It is your responsibility to check this Agreement periodically
                        for changes. If we do make a change, we may at our discretion send an email to you
                        reminding you of the changes for your convenience. Your continued use of or access
                        to the Service following the posting of any changes to this Agreement constitutes
                        acceptance of those changes. Shopunion may also, in the future, offer new services
                        and/or features through the Service (including, the release of new tools and resources).
                        Such new features and/or services shall be subject to the terms and conditions of
                        this Agreement.</p>
                </li>
                <li>
                    <h4>
                        <span>7.</span> Free Trials</h4>
                    <p>
                        If you register on our website to access the Service, we will make it available
                        to you on a trial basis free of charge until the end of the trial period. At the
                        end of the trial period, you will have the option of discontinuing your use of the
                        Service free of charge, or upgrading to a Basic or Premium Account.</p>
                </li>
                <li>
                    <h4>
                        <span>8.</span> Free Accounts</h4>
                    <p>
                        We will provide free accounts to non-business entities such as (but not limited
                        to) counties, cities, schools, clubs, churches, non-profits, and civic organizations,
                        solely at our discretion. We reserve the right at any time to request that free
                        accounts become paid accounts. In that situation, the remaining month would be provided
                        to you free, at the end of which you would be asked to upgrade to a Basic or Premium
                        paid account. We reserve the right not to offer Free accounts at all and convert
                        all membership options to Basic or Premium at our discretion.</p>
                </li>
                <li>
                    <h4>
                        <span>9.</span> Basic Accounts</h4>
                    <p>
                        By submitting your credit card information and choosing a вЂњBasicвЂ? account, you
                        expressly authorize us to charge your credit card and sign you up as a Basic user.
                        When you upgrade to a Basic account, your use of the Service will continue uninterrupted
                        if payment is made before or on the final day of the trial period. If payment is
                        not made by that date, your account will be suspended until an upgrade is made.
                        Basic accounts are:</p>
                    <p class="small">
                        $50 per month up to 2000 followers.</p>
                    <p class="small">
                        $75 per month up to 5000 followers.</p>
                    <p class="small last">
                        $100 per month for over 5000 followers.</p>
                    <p>
                        You expressly authorize upgrades to be made automatically as the thresholds are
                        reached. Payments are made for each month in advance. You agree to allow us to charge
                        your credit card on a month-to-month basis until you cancel use of the Service.
                        If you cancel during the middle of the month, we do not offer a refund for the remainder
                        of the month. You may cancel at any time.</p>
                </li>
                <li>
                    <h4>
                        <span>10.</span> Premium Accounts</h4>
                    <p>
                        By submitting your credit card information and choosing a вЂњPremiumвЂ? account,
                        you expressly authorize us to charge your credit card and sign you up as a Premium
                        user. When you upgrade to a Premium account, your use of the Service will continue
                        uninterrupted if payment is made before or on the final day of the trial period.
                        If payment is not made by that date, your account will be suspended until an upgrade
                        is made. Premium accounts are:</p>
                    <p class="small">
                        $75 per month up to 2000 followers.</p>
                    <p class="small last">
                        Downgrade to Basic account at over 2000 followers.</p>
                    <p>
                        As a premium member you are added to ShopunionвЂ™s вЂњauto-followвЂ? list. This
                        means that every user who downloads the app and adds your city will automatically
                        follow you. You will remain on the вЂњauto-followвЂ? list until you have reached
                        2000 followers and then be downgraded to a Basic account (at the $75/month level).
                        You expressly authorize upgrades/downgrades to be made automatically as the thresholds
                        are reached. Payments are made for each month in advance. You agree to allow us
                        to charge your credit card monthly until you cancel use of the Service. If you cancel
                        during the middle of the month, we do not offer a refund for the remainder of the
                        month. You may cancel at any time.</p>
                </li>
                <li>
                    <h4>
                        <span>11.</span> Account Suspension/Deletion.</h4>
                    <p>
                        If payment owed by you is not received by the due date, we will notify you by email
                        at the address you specified upon sign up of the nature of your missed payment.
                        At the end of the period, your account will be suspended until the money owed by
                        you is paid in full. If your account is not brought current within three (3) months,
                        we will delete your account.</p>
                    <p>
                        When your account is suspended, you do not lose your followers. You will keep your
                        same follower account even if your account is suspended and then reinstated.</p>
                </li>
                <li>
                    <h4>
                        <span>12.</span> Breach/Termination</h4>
                    <p>
                        Shopunion may terminate your access to all or any part of the Service upon your
                        breach of this Agreement. We will send you an email notifying you of your breach
                        and will give you a chance to remedy it, both at our sole discretion. If you wish
                        to terminate this Agreement you may simply discontinue using the Service. All provisions
                        of this Agreement which by their nature should survive termination shall survive
                        termination, including, without limitation, ownership provisions, warranty disclaimers,
                        indemnity and limitations of liability.</p>
                </li>
                <li>
                    <h4>
                        <span>13.</span> Limitation of Liability</h4>
                    <p>
                        At no time shall Shopunion or any of its licensors be liable with respect to any
                        subject matter of this agreement under any contract, negligence, strict liability
                        or other legal or equitable theory for: (i) any special, incidental or consequential
                        damages; (ii) the cost of procurement or substitute products or services; (iii)
                        for interruption of use or loss or corruption of data; or (iv) for any amounts that
                        exceed the fees paid by you to Shopunion under this agreement during the twelve
                        (12) month period prior to the cause of action. Shopunion shall have no liability
                        for any failure or delay due to matters beyond our reasonable control. The foregoing
                        shall not apply to the extent prohibited by applicable law.</p>
                </li>
                <li>
                    <h4>
                        <span>14.</span> General Representation and Warranty</h4>
                    <p>
                        You represent and warrant that (i) your use of the Service will be in strict accordance
                        with this Agreement and with all applicable laws and regulations (including without
                        limitation any local laws or regulations in your country, state, city, or other
                        governmental area, regarding online conduct and acceptable content, and including
                        all applicable laws regarding the transmission of technical data exported from the
                        United States or the country in which you reside) and (ii) your use of the Service
                        will not infringe or misappropriate the intellectual property rights of any third
                        party.</p>
                </li>
                <li>
                    <h4>
                        <span>15.</span> Indemnification</h4>
                    <p>
                        You agree to indemnify and hold harmless Shopunion, its contractors, and its licensors,
                        and their respective directors, officers, employees and agents from and against
                        any and all claims and expenses, including attorneysвЂ™ fees, arising out of your
                        use of the Website or Service, including but not limited to your violation of this
                        Agreement.</p>
                </li>
                <li>
                    <h4>
                        <span>16.</span> Miscellaneous</h4>
                    <p>
                        This Agreement (and other agreements included by reference) constitute the entire
                        agreement between Shopunion and you concerning the subject matter thereof, and they
                        may only be modified by a written amendment signed by an authorized executive of
                        Shopunion, or by the posting by Shopunion of a revised version. Except to the extent
                        applicable law, if any, provides otherwise, this Agreement, any access to or use
                        of the Website will be governed by the laws of the state of Mississippi, USA, excluding
                        its conflict of law provisions, and the proper venue for any disputes arising out
                        of or relating to any of the same will be the state and federal courts located in
                        Adams County, Mississippi. Except for claims for injunctive or equitable relief
                        or claims regarding intellectual property rights (which may be brought in any competent
                        court without the posting of a bond), any dispute arising under this Agreement shall
                        be finally settled in accordance with the arbitration laws of Mississippi. The prevailing
                        party in any action or proceeding to enforce this Agreement shall be entitled to
                        costs and attorneysвЂ™ fees. If any part of this Agreement is held invalid or unenforceable,
                        that part will be construed to reflect the partiesвЂ™ original intent, and the remaining
                        portions will remain in full force and effect. A waiver by either party of any term
                        or condition of this Agreement or any breach thereof, in any one instance, will
                        not waive such term or condition or any subsequent breach thereof. You may assign
                        your rights under this Agreement to any party that consents to, and agrees to be
                        bound by, its terms and conditions; Shopunion may assign its rights under this Agreement
                        without condition. This Agreement will be binding upon and will inure to the benefit
                        of the parties, their successors and permitted assigns.</p>
                </li>
            </ul>
        </div>
    </div>
</section>

        <footer id="footer">
            <div id="footerTop">
                <div class="wrapper">
                    <div class="tweetSlide">
                        <figure><img src="../Content/images/FrontPages/tweeter-icon.png" alt=""/></figure>
                        <div class="tweet">
                            <p>
                                <span class="last-tweet-text">
                                    
                                </span>
                                <em class="last-tweet-author">by Shopunion</em>
                            </p>
                            <p><small class="last-tweet-createdat">about 5 minutes ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footerMiddle">
                <div class="wrapper">
                    <section class="footeLogoSec">
                        <a href="#" class="footerLogo">
                            <img src="../Content/images/FrontPages/logo-footer.png" alt=""/>
                        </a>
                        <ul class="social">
                            <li class="facebook"><a href="http://www.facebook.com/Shopunion">facebook</a></li>
                            <li class="tweeter"><a href="http://www.twitter.com/shopunion">tweeter</a></li>
                            <li class="vimeo"><a href="http://vimeo.com/68562676">vimeo</a></li>
                        </ul>
                    </section>
                    <section class="box blog">
                        <h6>
                            <a href="http://blog.Shopunion.com/">
                                CHECK OUT THE BLOG
                            </a>
                        </h6>
                        <p>
                            We blog about technology, local culture, startups, new features and anything else that comes to mind.
                        </p>
                    </section>
                    <section class="box contact">
                        <h6>contacts</h6>
                        <ul>
                            <li>
                                <figure><img src="../Content/images/FrontPages/msg-icon.png" alt=""/></figure>
                                <p><a href="mailto:info@shopunion.com">info@shopunion.com</a></p>
                            </li>
                        </ul>
                    </section>
                    <section class="box newsletter">
                        <h6>newsletter signup</h6>
                        <p>By subscribing to our mailing list you<br/>will get the latest news from us.</p>
                        <div class="newsletterBox">
                            <div id="mc_embed_signup">
                                <form action="#" 
                                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                    <input type="text" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                                    <input type="submit" value="join us" name="subscribe" id="mc-embedded-subscribe">
                                
                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                    </section>
                </div>
            </div>
            <div id="footerBottom">
                <div class="wrapper">
                    <p>&COPY; 2013 shopunion. All Rights Reserved</p> 
                </div>
            </div>
        </footer>
        
        <script src="../Scripts/FrontPages/main.js"></script>
        
    </body>

</html>

